## Chapter 11&16:
(11.1 - 11.2), (16.8)

# 11.1: Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. import the zoo module and call its hours() function.

In [1]:
with open('zoo.py', 'w') as file:
    file.write("def hours():\n    print('Open 9-5 daily')")

In [2]:
import zoo
zoo.hours()

Open 9-5 daily

# 11.2: import the zoo module as menagerie and call its hours() function.

In [3]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

# 16.4: Create `books.db` and `books` tables for 16.8

In [4]:
import sqlite3

# Create database and table
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Insert 16.3 data
books = [
    ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
    ('Perdido Street Station', 'China MiÃ©ville', 2000),
    ('Thud!', 'Terry Pratchett', 2005),
    ('The Spellman Files', 'Lisa Lutz', 2007),
    ('Small Gods', 'Terry Pratchett', 1992)
]

cursor.executemany("INSERT INTO books VALUES (?, ?, ?)", books)
conn.commit()
conn.close()

# 16.8: Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. select and print the title column from the book table in alphabetical order.

In [5]:
from sqlalchemy import create_engine, MetaData, Table, select

engine = create_engine('sqlite:///books.db')
connection = engine.connect()
metadata = MetaData()

books = Table('books', metadata, autoload_with=engine)

# Print selected titles in alphabetical order
query = select(books.c.title).order_by(books.c.title)
results = connection.execute(query)

for row in results:
    print(row.title)

ModuleNotFoundError: No module named 'sqlalchemy'